#container {
  /* 左右の中央にする */
  text-align: center;
}

.btn {
  /* 背景を白にする */
  background-color: white;
  /* ボタンの文字を黒にする */
  color: black;
  /* ボーダー(枠線)に関するプロパティ */
  /* 第1引数はボーダーの太さ */
  /* 第2引数はボーダーの太さ */
  /* 第3引数はボーダーの色 */
  border: 1px solid black;
  /* 内余白のプロパティ */
  /* 引数が4つあるが、上右下左の順番で設定できる。要は時計回りである */
  padding: 10px 40px 10px 40px;
  /* 次に再度paddingを設定するが、同じものを記述した場合、後に書いた方が適用される */
  padding: 10px 40px; /* 上下と左右がそれぞれ揃っている場合はこのように簡略化できる、一つしか書かない場合は、上下左右がその値になる */
  /* 外余白の設定 */
  /* 上下左右の余白設定の仕方はpaddingと同じである */
  margin: 50px 0;
  /* 文字の太さのプロパティ */
  font-weight: 600;
  /* マウスオーバーした時のカーソルの見た目や挙動を変えるプロパティ */
  cursor: pointer; /* 今回はポインター */
  /* アニメーションに時間や緩急、やスピードをつけるプロパティ */
  /* 第1引数は対象のCSSプロパティ、allの場合は全て 
  　　backgroud-colorを設定したい場合は、そのままbackground-colorと設定すれば良い　*/
  /* 第2引数でアニメーションにかける時間、今回は0.3秒 */
  /* 第3引数と第4引数に順不同でアニメーションの遅延や緩急を設定できる */
  /* 第3引数にアニメーション開始時間の遅延を設定できる(遅らせる時間)、今回は設定しない */
  /* 第4引数にアニメーションの緩急を設定できる。今回はease(開始時と終了時にはゆっくり変化（初期値）) */
  /* transition: all 0.3s ease; */
  /* 以下のように特定のプロパティだけ別々のアニメーションを加えることもできる */
  transition: color 0.3s ease 1s,
    /*1秒後に0.3秒かけて文字色が変わる*/ background-color 0.3s ease 2s; /* 2秒後に背景色が変わる */
}
/* :hoverを付与することで『カーソルをホバーした時』という条件をつける */
.btn:hover {
  /* 背景は黒 */
  background-color: black;
  /* 文字色は白 */
  color: white;
}
